
.btn-del{
	cursor: pointer; 
	background-color: orange;
	border-radius: 10%;
	color: red;
	text-align: center;
	padding: 5px;
}
 
.btn-del:hover{
	transition: 0.3;
	outline-color: transparent;
	text-decoration: underline;
	opacity: 0.7;
}
.btn-del:active{
	background-color: red;
}

.active{
	background-color: #6c42f5;
	border-radius: 3px;
}
 
.h-op-75:hover{
	opacity: 0.75;
}
.pointer{
	cursor: pointer;
} 
.text-center{
	text-align: center;
}
.c-green{
	color: green
}
.search{
	border: 2px solid lightblue;
	border-radius: 3px;
}
.btn{
	border: 1px solid lightblue;
	background-color: green;
}
.btn:hover{
	color: blue;
	border: 1px solid lightblue;
	transition: 0.3;
	background-color: green;
	opacity: .7;
}

/* home page table style */

.view_sec{
	overflow-x: auto;
	padding: 1.5rem;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

table{
	display: block; 
	overflow-x: auto;
}
th, td{
	border: 1px solid;
	border-color: #3bbfeb;
}
.table_wrapper{
	width: 100%;
}
@media (max-width: 600px) {
	 
	.view_sec h1{
		font-size: 1.25rem
	}
	.table_wrapper{
		border: 1px solid red; 
	}
	.view_sec{
		font-size: .75rem;
		margin-left: 0;
		margin-right: 0;
		padding: 1rem;
	}
	.view_sec2{
		width: 100%;
		margin-left: 1.25rem;
		margin-right: 1.25rem;
	}
	.message_alert{
		width: 80%;
	}
}

    